* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(253, 202, 255);
    max-width: 100vw;
}

#main {
    /* display: flex; */
}

/** navigation menu */

#navbar {
    /* background-color: #7700a7; */
    background: linear-gradient(#7700a7, #1e0027);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

#logo {
    font-family: "Chelsea Market", system-ui;
    margin-bottom: 0.5rem;
}

#subtitulo {
    font-weight: 300;
}

#nav-menu {
    background-color: #fff;
    display: flex;
    column-gap: 1rem;
    /* justify-content: end; */
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem 0.2rem;
}

#nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

#nav-redes {
    display: flex;
    flex-direction: row;
}

.icons {
    width: 2rem;
    height: auto;
    display: block;
    max-width: 2rem;
}

/** Side content **/

#side-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#side-content img {
    max-width: 100%;
    border-radius: 1rem;
    /* padding: 3rem; */
}

/** Artigos **/

.artigo {
    background-color: white;
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    line-height: 2;
}

.titulo {
    color: #1e0027;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tagline {
    font-family: "Quintessential", serif;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #7700a7;
}

.artigo-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/** Media Queries **/

@media (max-width: 992px) {
    #logo {
        font-size: 2rem;
    }

    #subtitulo {
        width: 100vw;
        text-align: center;
        font-size: clamp(0.7rem, 3vw, 1rem);
    }

    #nav-menu {
        justify-content: center;
    }

    #main {
        flex-direction: column;
    }

    #artigos,
    #entrevistas {
        display: flex;
        row-gap: 1rem;
        flex-direction: column;
    }

    .artigo {
        padding: 1rem;
        margin: 0.3rem;
    }

    .titulo {
        font-size: 1.3rem;
    }

    #side-content {
        margin: 0.3rem;
    }

    #artigos img {
        margin: 0.3rem;
        border-radius: 1rem;
    }
}

@media (min-width: 993px) {
    #logo {
        font-size: 3rem;
    }
    #nav-menu {
        justify-content: end;
    }

    #artigos,
    #entrevistas {
        /* align-items: end; */
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        /* max-width: 50%; */
        gap: 1rem;
        width: 100%;
        max-width: 75vw;
        margin: 0 auto;
    }

    .artigo {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
    .artigo img {
        max-width: 100%;
    }
    .card {
        max-width: 100%;
        border-radius: 1rem;
    }

    .titulo {
        font-size: 2rem;
    }

    #main {
        justify-content: space-around;
    }

    #side-content {
        /* background-color: blue; */
        width: 30%;
        max-width: 30%;
    }
}

#artigos {
    margin-bottom: 3rem;
}

/* .titulo {
    text-align: justify;
} */

.lista-artigo {
    list-style: none;
}

.lista-artigo li {
    position: relative;
    padding-left: 32px;
}

.lista-artigo li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    /* top: 6px; */
    width: 1.5rem;
    height: 1.5rem;
    background: url("/assets/img/pata.svg") no-repeat center;
    background-size: contain;
}

#sobre-nos {
    background-color: #fff;
    border-radius: 1rem;
    /* display: grid;
    grid-template-columns: 10% 2fr 1fr; */
}

#card-dir {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 1rem;
    line-height: 1.7;
    & h1 {
        font-size: 2rem;
        color: #1e0027;
    }
}

#card-esq {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0.5rem 0;
}

#card-esq img {
    max-width: 100%;
    height: auto;
    margin: 1rem 1rem 0.2rem 1rem;
    border-radius: 0.5rem;
}

.entrevista {
    /* display: flex;
    column-gap: 1rem; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    & img {
        border-radius: 0.5rem;
        max-height: 450px;
        max-width: 100%;
        height: auto;
    }
}

.ent-corpo {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    /* flex-wrap: wrap; */
    height: 100%;
}

.ent-btn {
    margin-top: auto;
    align-self: flex-end;
}

button {
    color: #fff;
    font-weight: 700;
    background-color: #7700a7;
    padding: 0.8rem;
    border: none;
    border-radius: 0.25rem;
}

.nome {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

@media (max-width: 992px) {
    #sobre-nos {
        margin: 1rem;
    }
    #card-dir {
        padding: 1.5rem;
    }
    .entrevista {
        align-items: stretch;
        /* min-width: 800px; */
        & img {
            object-fit: contain;
        }
        & button {
            margin-top: 1rem;
        }
    }
    .ent-corpo {
        /* background-color: blue; */
        max-height: 100%;
        height: auto;
    }
}

/* @media (max-width: 700px) {
    .descricao {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        max-height: 12.5rem;
    }
} */

@media (min-width: 993px) {
    #sobre-nos {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 1rem;
        width: 100%;
        max-width: 75vw;
        margin: 0 auto;
    }
    .entrevista {
        min-width: 600px;
    }
}
