<section id="sobre-nos">
    <div id="card-esq">
        <img src="assets/img/equipe.jpg" alt="" srcset="" />
        <p class="card-nomes">
            Giancarlo Basilio, Fabia Silva, Rafael Vilaça, Amanda Santana,
            Marcos Santos
        </p>
    </div>
    <div id="card-dir">
        <h1>NOSSA PROPOSTA</h1>
        <p>
            Acreditamos que informar e sensibilizar os tutores para que adotem
            práticas responsáveis e preventivas no cuidado com seus animais,
            contribui para a saúde dos mesmos, da comunidade e para a redução de
            riscos de zoonoses.
        </p>
        <p>
            Faremos isso compartilhando informações sobre vacinação, castração e
            vermifugação, divulgando campanhas públicas de imunização,
            distribuindo panfletos com orientações e informando a população
            sobre serviços e auxílios do governo.
        </p>
    </div>
</section>
