<section id="artigos">
    <div class="artigo">
        <h2 class="titulo">Guarda Responsável</h2>
        <img
            src="assets/img/visita_veterinaria.jpg"
            alt=""
            srcset=""
            class="artigo-img"
        />
        <ul class="lista-artigo">
            <li>Seu pet depende de você para viver bem e seguro.</li>
            <li>
                Cuide da saúde, leve ao veterinário e mantenha vacinas em dia.
            </li>
            <li>Ofereça comida boa, água fresca e um cantinho confortável.</li>
            <li>Amor e compromisso andam juntos.</li>
        </ul>
        <p class="tagline">Seu cuidado faz toda a diferença.</p>
    </div>
    <div class="artigo">
        <h2 class="titulo">O que você precisa saber sobre a leishmaniose</h2>
        <img
            src="assets/img/mosquito_leishmaniose.avif"
            alt=""
            srcset=""
            class="artigo-img"
        />
        <ul class="lista-artigo">
            <li>
                A leishmaniose pode infectar cães, gatos e humanos, sendo
                transmitidas pela picada de um mosquito infectado.
            </li>
            <li>
                O diagnóstico deve ser feito por exames laboratoriais
                específicos.
            </li>
            <li>
                O tratamento apenas controla os sintomas, mas não cura a doença.
            </li>
            <li>
                A detecção precoce é essencial, pois a leishmaniose pode levar à
                morte.
            </li>
        </ul>
        <p class="tagline">
            Leishmaniose: conhecer é a melhor forma de prevenir.
        </p>
    </div>
    <div class="artigo">
        <h2 class="titulo">Castração</h2>
        <img
            src="assets/img/castracao_001.jpg"
            alt=""
            srcset=""
            class="artigo-img"
        />
        <p>Ajude seu pet a viver mais calmo e saudável.</p>
        <p>Evite problemas de saúde e comportamentos indesejados.</p>
        <p>Reduz o número de animais abandonados.</p>
        <p>Consulte o veterinário para saber o momento ideal.</p>
        <p class="tagline">Cuidar também é castrar.</p>
    </div>
    <img src="assets/img/banner.jpg" alt="" srcset="" class="card" />
</section>
