<section id="entrevistas">
    <div class="entrevista">
        <img src="assets/img/aline.jpg" alt="" srcset="" />
        <div class="ent-corpo">
            <h1 class="nome">ALINE FRANÇA</h1>
            <p class="descricao">
                Médica veterinária de fauna silvestre, formada pela PUC-Betim.
                Atualmente faz parte do time de profissionais da ZOOVET
                CONSULTORIA – uma clínica veterinária especializada em animais
                silvestres e exóticos, com consultoria ambiental – atuando na
                área de clínica e cirurgia de animais silvestres.
            </p>
            <div class="ent-btn">
                <button type="button">Leia mais ></button>
            </div>
        </div>
    </div>
    <div class="entrevista">
        <img src="assets/img/blank.jpg" alt="" srcset="" />
        <div class="ent-corpo">
            <h1 class="nome">???</h1>
            <p class="descricao">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                in dictum ligula. Quisque scelerisque nibh magna, quis interdum
                purus mattis ac. Integer vehicula interdum ipsum, pellentesque
                porta purus ullamcorper a. Sed ut auctor odio.
            </p>
            <div class="ent-btn">
                <button type="button">Leia mais ></button>
            </div>
        </div>
    </div>
</section>
